body {
    background-color: #5f5f5f;
}
#trello {
    background-color: #403d3e;
    border-radius: 30px;
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    /* padding-bottom: 40%; */
    width: 90%;
    height: 90%;
}
#partie1 {
    width: 20%;
    height: 100%;
}
#enseignant {
    margin-left: 25%;
    margin-top: 10%;
    width: 130%;
    border-radius: 10px;
    height: 30px;
}
.icons1 img {
    color: white;
}
#recherche {
    background-color: #5f5f5f;
    margin-left: 25%;
    margin-top: 20%;
    width: 130%;
    border-radius: 10px;
    height: 30px;
}

#partie2 {
    background-color: #242122;
    margin-left: 15%;
    padding-bottom: 40%;
    /* padding-left: 40%; */
    width: 80%;
    height: 250px;
}
#planing {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.next {
    margin-left: 53%;
}
#horaire {
    display: flex;
    background-color: #403d3e;
    border-radius: 30px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.h1 {
    margin-left: 20%;
}
.h {
    margin-left: 5%;
}
#emplois {
    display: flex;
    border: 1px solid white;
    /* padding-top: 4.56%;
    padding-bottom: 4.56%; */
    padding-left: 15px;
    text-align: justify;
    border-radius: 30px;
    border-color: #403d3e;
}
.jrs {
    color: white;
    width: 15%;
    height: 100%;
    padding-top: 4.56%;
    padding-bottom: 4.56%;
}
.crs {
    width: 85%;
    background-color: #5e6767;
    height: 100%;
    padding-top: 5.51%;
    padding-bottom: 5.51%;
}
#classe {
    margin-top: 10%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    float: left; 
    width: 140%;
    height: 40%;
}
.icons1, .icons2, .icons3, .icons4 {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
}
.icon1, .icon2, .icon3, .icon4 {
    border: 1px solid ;
    border-radius: 100%;
}
.icon1 {
    background-color: #57aedb;
    border-color: #57aedb;
    width: 25%;
    height: 25%;
}
.icon1 h3 {
    margin-left: 5%;
}
.icon2 {
    background-color: #269828;
    border-color: #269828;
    width: 25%;
    height: 25%;
}
.icon3 {
    background-color: #f78101;
    border-color: #f78101;
    width: 25%;
    height: 25%;
}
.icon4 {
    background-color: #eb262a;
    border-color: #eb262a;
    width: 25%;
    height: 25%;
}
#classe .enseignant, .salle, .classe, .module {
    background-color: #9a9a9a;
    border-radius: 30px; 
    width: 170px;
    height: 20%;
    margin: 10px 10px 10px 10px;
}
.texte1, .texte2, .texte3, .texte4 {
    display: flex;
    margin-left: 10%;
}
.texte1 .b, .texte2 .b, .texte3 .b, .texte4 .b {
    margin-left: 20%;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 