/* body{
    background-color: aqua;
   
} */
button {
    background-color: rgb(111, 237, 141);
    color: white;
    float: right;
    width: 8%;
    height: 80%;

}
.en_tete {
    background-color: aqua;
    width: 100%;
    height: 300%;
}
.script {
    display: grid;
    background-color: aqua;
}

.tete_tab {
    background-color: rgb(111, 237, 141);
    text-align: right;
    /* margin-right: 79.5%; */
}
textarea {
    width: 340px;
    height: 310px;
}
.contener {
    display: flex;
    flex-wrap: wrap;
}

.tableau {
    background-color: white;
    width: 347px;
    height: 345px;
    margin-left: 5%;
    margin-top: 5%;
}