header {
    background-color: #383c6c;
    padding-top: 2%;
}
button {
    background-color: #383c6c;
    color: white;
    border-radius: 5%;
    border: #28244c solid;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 90%;

}
section {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
#description {
    display: none;
}
#cont_image {
    margin-left: 3%;
	margin-top: 5%;
    width: 25%;
    position: relative;
    
}
body {
    background-color: #28244c

    ;
}
#texte {
    background-color: #383c6c;
    display: flex;
    color: white;
    padding-top: 2%;
    width: 100%;
    text-align: center;
}
#vote {
    float: right;
}
#titre {
    float: left;
}
#photo img{
    width: 100%;
    /* height: 40%; */
}