/* En tete  */
.en_tete {
    background-color: #74C69D;
    display: flex;  
    padding: 30px;  
}
.M {
    margin-left: 1100px;
}
.menu {
    display: inline-block;
    color: white;
    margin-left: 30px;
}
.logo {
    margin-left: 100px;
}

/* Bas de page */
footer {
    margin-top: 150px;
    background-color: #74C69D;
    display: flex; 
    padding: 30px;
}
.reseau {
    margin-left: 100px;
}
.copiry {
    display: inline-block;
    color: white;
    margin-left: 1100px;
}
