/* En tete  */
.en_tete {
    background-color: #74C69D; 
    /* padding: 1,64%;   */
}
.entete1 {
    display: flex;
    justify-content: space-between;
    padding:3% 5%;
}

.menu {
    display: inline-block;
    color: white;
    margin-left: 30px;
}
.icon {
    display: none;
}
.entete2 {
    display: flex;
    justify-content: space-between;
}
.texte {
    color: white;
    text-align: justify;
    width: 25em;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
.explore {
    color: black;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 300px;
}
.image { 
    margin-right: 8%;
    margin-top: 4%;
}

/* Bas de page */
footer {
    margin-top: 15%;
    background-color: #74C69D;
    display: flex; 
    padding: 2%;
}
.reseau {
    margin-left: 5%;
}
.copiry {
    display: inline-block;
    color: white;
    margin-left: 65%;
}

/* section */
.texte1 {
    margin-top: 5%;
    text-align: center;
    width: 25em;
    margin-left: 40%;
}
.partners {
    color: #74C69D;
}
.image1 {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-right: 20%;
}
.logo2 {
    margin-top: 1%;
}
.img1 {
    margin-top: 3%;
}
.more {
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: 45%;
    margin-left: 45%;
}
.partie3 {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}
.partie3_texte {
    width: 25em;
    margin-right: 20%;
}
.image1 {
    margin-left: 20%;
}
.more1 {
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-right: 45%;
}
.partie4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
.partie4_texte {
    width: 25em;
    margin-left: 25%;
}
.image2 {
    margin-right: 20%;
}
.more2 {
    color: white;
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 250px;
}
.texte2 {
    margin-top: 200px;
    text-align: center;
    width: 25em;
    margin-left: 720px;
}
.team {
    color: #74C69D;
}
.partie5 {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}
.partie5 .image4 {
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}



@media screen and (max-width:810px){
    .M {
        display: none;
    } 
    .icon { display: block;}
}